{% extends 'base.html.twig' %}

{% block title %}Editar Curso{% endblock %}

{% block body %}
    <h1>Editar Curso</h1>

    {{ include('course/_form.html.twig', {'button_label': 'Atualizar'}) }}

    <div class="d-flex mt-2">
        {{ include('course/_delete_form.html.twig') }}
        <a href="{{ path('app_course_index') }}" class="btn btn-dark ms-2">Voltar ao Catálogo</a>
    </div>

{% endblock %}
