{% extends 'base.html.twig' %}

{% block title %}Novo Curso{% endblock %}

{% block body %}
    <h1>Cadastrar Curso</h1>

    {{ include('course/_form.html.twig') }}

    <a href="{{ path('app_course_index') }}" class="btn btn-warning mt-2">Voltar ao Catálogo</a>
{% endblock %}
