<h1>Olá {{ course.teacher.name }}!</h1>

<p>Seu curso "{{ course.title }}" foi não foi aceito.</p>

<p>O motivo da recusa é:</p>
<h4>{{ course.refuseMessage }}</h4>

<p>Edite o curso para poder ser enviado novamente para análise.</p>