{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h1 class="fs-5 text-align-center">Teste</h1>
    <p>Olá</p>
    <button class="btn btn-success p-2">Aperte</button>

{% endblock %}
