<h1>Olá, por favor confirme seu e-mail</h1>

<p>
    Por favor confirme seu email clicando no link a seguir:<br><br>
    <a href="{{ signedUrl|raw }}">Confirmar meu email</a>.
    Esse link expirará em {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Obrigado!
</p>
