{% extends 'base.html.twig' %}

{% block body %}

    <link rel="stylesheet" href={{asset('css/index.css')}}>
    <div class="text-center">
    <h1 class="text-primary fw-bold">Verifique seu Email</h1>
    <p>Um link foi enviado para o seu e-mail verifique, para continuar a acessar a plataforma.</p>
    <form action="{{ path('app_send_email_verification') }}" method="POST"><button type="submit" class="btn btn-primary px-4 py-2">Reenviar email</button></form>
    </div>
{% endblock %}