.course-card {
    cursor: pointer;
    transition: .25s;
    text-decoration: none;
}
.course-card:hover {
    translate: 0 -3px;
    opacity: 80%;
}

@media (max-width: 992px) {
    .filter-form {
        display: flex;
        align-items: center;
        flex: 0;
    }
    .course-container {
        justify-content: center;
    }
}

.btn-primary {
  background-color: #6f42c1;
  border-color: #6f42c1;
}

.btn-primary:hover {
  background-color: #5a32a8;
  border-color: #5a32a8;
}

.btn-outline-primary {
  color: #6f42c1;
  border-color: #6f42c1;
}

.btn-outline-primary:hover {
  background-color: #6f42c1;
  color: #fff;
}