button.search {
    cursor: pointer;
    transition: all .2s;
}

button.search:hover {
    background-color: #b96eff;
}

nav a.btn-outline-primary {
    color: #8a2be2;
    border-color: #8a2be2; 
}

nav a.btn-outline-primary:hover {
    background-color: #8a2be2; 
    color: white;              
    border-color: #8a2be2;
}

nav a.btn-primary {
    background-color: #8a2be2; 
    border-color: #8a2be2;     
    color: white;              
}

nav a.btn-primary:hover {
    background-color: #6a0dad; 
    border-color: #6a0dad;
}
