<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bem Vindo!{% endblock %}</title>
        <link rel="icon" href="favicon.ico">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('style') }}

        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>

    <body>

        {% include 'home/_header.html.twig' %}

        <div class="container mt-3">
            {% block body %}{% endblock %}
        </div>

    </body>
</html>
